.banner{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #445219;
   

        banner-p{
            font-size: 15px;
            color: black;

        }
        .join{
            height:30px;
            width: 70px;
            background-color: #E04623;
            color: #445219;
            display: flex;
            align-items: center;
            padding-left: 15px;
            margin-right: 30px;
        }
}


