nav {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
    
    
    a{
        color: whitesmoke;
        text-decoration: none;
        font-size: small;
     
    }

    
}
